body {
  background-image: url("/static/img/light_grey.png");
  background-repeat: repeat;
  color: #262626;
}

input {
/*  text-align: center;*/
  color: #262626;
/*  font-size: 80%;*/
}

select {
  color: #262626;
/*  font-size: 80%;*/
}

.search-form-table {
  background-image: url("/static/img/gray_jean.png");
  background-repeat: repeat;
  color: #262626;

}

.modify-search {
  line-height: 30px
}

.navbar-default .navbar-brand {
    font-size: 100%;
}

.row .row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}
.landing-page-choice {
    font-size: 25px;
}

.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

.btn{
  background-color: #909899;
  color: white;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

#search-form {
  font-size: 115%
  }

 