{% extends 'base.html' %}

{% block title %}Account Info{% endblock %}

{% block content %}
<h1>Your Account</h1>

<h3>Contact Info</h3>
    <p><b>Name: </b>{{ user.fname }} {{ user.lname }}</p>
    <p><b>Address: </b> {{ user.street }}, {{ user.city }}, {{ state }} {{ user.postalcode }}</p>
    <p><b>Phone: </b> {{ user.phone }}</p>
    <p><b>email: </b> {{ user.email }}</p>
    <p><b>Actions available: </b>
    <ul>
        <li>Edit account (not yet implemented)</li>
        <li><a href="/confirm-deactivate-account">Deactivate your account</a></li>
<br>
--------------------------------
<br>
<h3>Items You Have Available for Rent</h3>
    {% if products_available %}
        <table border="1" cellpadding="5">
            <tr>
                <th>Category</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Available Start</th>
                <th>Available End</th>
                <th>Price Per Day</th>
                <th>Rental History</th>
                <th>Actions Available</th>
            </tr>
            {% for product in products_available %}
                <tr>
                    <td>{{ product.category.cat_name }}</td>
                    <td>{{ product.brand.brand_name }}</td>
                    <td>{{ product.model }}</td>
                    <td>{{ product.avail_start_date.date().isoformat() }}</td>
                    <td>{{ product.avail_end_date.date().isoformat() }}</td>
                    <td>${{ '{:,.2f}'.format(product.price_per_day) }}</td> <td>
                        <ul>
                        {% for history in product.histories %}
                            <li>Dates: {{ history.start_date.date().isoformat() }} to {{ history.end_date.date().isoformat() }} || Total Cost: ${{ '{:,.2f}'.format(product.price_per_day) }} || <a href="mailto:{{ history.renter.email }}">email renter</a> || 
                                {% if not history.renter_rating_id %}
                                    <a href="/rate-renter/{{ history.renter_user_id }}-{{ history.history_id }}">Rate Renter</a>
                                {% else %}
                                    Renter rating already submitted.
                                {% endif %}
                                </li>
                        {% endfor %}

                        </ul>

                    </td>
                    <td>
                        <ul>
                            <li><a href="confirm-delist-product/{{ product.prod_id }}">Delist product</a></li>
                            <li>not yet implemented: edit listing</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        You have no items available for rent.<br><br>
{% endif %}
<br>

<h3>Items Unavailable for Rent</h3>
    {% if products_not_available %}
        <table border="1" cellpadding="5">
            <tr>
                <th>Category</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Available Start</th>
                <th>Available End</th>
                <th>Price Per Day</th>
                <th>Rental History</th>
                <th>Actions Available</th>
            </tr>
            {% for product in products_not_available %}
                <tr>
                    <td>{{ product.category.cat_name }}</td>
                    <td>{{ product.brand.brand_name }}</td>
                    <td>{{ product.model }}</td>
                    <td>{{ product.avail_start_date.date().isoformat() }}</td>
                    <td>{{ product.avail_end_date.date().isoformat() }}</td>
                    <td>${{ '{:,.2f}'.format(product.price_per_day) }}</td> <td>
                        <ul>
                        {% for history in product.histories %}
                            <li>Dates: {{ history.start_date.date().isoformat() }} to {{ history.end_date.date().isoformat() }} || Total Cost: ${{ '{:,.2f}'.format(product.price_per_day) }} || <a href="mailto:{{ history.renter.email }}">email renter</a> || 
                                {% if not history.renter_rating_id %}
                                    <a href="/rate-renter/{{ history.renter_user_id }}-{{ history.history_id }}">Rate Renter</a>
                                {% else %}
                                    Renter rating already submitted.
                                {% endif %}
                                </li>
                        {% endfor %}

                        </ul>

                    </td>
                    <td>
                        <ul>
                            <li><a href="relist-product/{{ product.prod_id }}">Relist product</a></li>
                            <li>not yet implemented: edit listing</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        You have no history of renting out products.<br><br>
{% endif %}
<br>
<h3>Items You Have Rented</h3>
{% if histories %}
    <table border="1" cellpadding="5">
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Product</th>
                <th>Total Cost</th>
                <th>Status</th>
                <th>Rental History</th>
                <th>Actions Available</th>
            </tr>
            {% for history in histories %}
                <tr>
                    <td>{{ history.start_date.date().isoformat() }}</td>
                    <td>{{ history.end_date.date().isoformat() }}</td>
                    <td>{{ history.product.brand.brand_name }} {{ history.product.model }}</td>
                    <td>${{ '{:,.2f}'.format(history.total_cost) }}</td>
                    <td>{% if (today > history.end_date) %}
                            Rental done
                        {% elif (today < history.start_date) %}
                            {{ (history.start_date - today).days }} days until rental
                        {% else %}
                            Rental ongoing
                        {% endif %}
                    </td>
                    <td> 
                        <ul>
                            <li><a href="mailto:{{ history.product.owner.email }}">Send owner an email</a></li>
                            <li> 
                                {% if not history.owner_rating_id %}
                                    <a href="/rate-owner/{{ history.product.owner_user_id }}-{{ history.history_id }}">Rate owner here</a>
                                {% else %}
                                    Owner rating already submitted.
                                {% endif %}
                            </li>
                            <li>
                                {% if not history.prod_rating_id %}
                                    <a href="/rate-product/{{ history.prod_id }}-{{ history.history_id }}">Rate product here</a>
                                {% else %}
                                    Product rating already submitted.
                                {% endif %}
                            </li>
                    </td>
                </tr>
            {% endfor %}
        </table><br><br>
    {% else %}
        You have no rental history.<br><br>
{% endif %}
<br>

{% endblock %}