<!doctype html>
<html>
<head>
  <title>Account Info</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</head>

<body>
  <hr>

    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>

<h1>Your Account</h1>

<h3>Contact Info</h3>
    <p><b>Name: </b>{{ user.fname }} {{ user.lname }}</p>
    <p><b>Address: </b> {{ user.street }}, {{ user.city }}, {{ state }} {{ user.postalcode }}</p>
    <p><b>Phone: </b> {{ user.phone }}</p>
    <p><b>email: </b> {{ user.email }}</p>
    <p><b>Actions available: </b>
    <ul>
        <li>Edit account (not yet implemented)</li>
        <li><a href="/confirm-deactivate-account">Deactivate your account</a></li>
<br>
--------------------------------

<br>
<h3>Items You Have Available for Rent</h3>
    {% if not products_available %}
        <p>None</p>
    {% else %}
        <table border="1" cellpadding="5">
            <tr>
                <th>Category</th>
                <th>Brand and Model</th>
                <th>Available Start</th>
                <th>Available End</th>
                <th>Price Per Day</th>
                <th>Actions Available</th>
            </tr>
            {% for product in products_available %}
                <tr>
                    <td>{{ product.category.cat_name }}</td>
                    <td><a href="/product-detail/{{ product.prod_id }}">{{ product.brand.brand_name }} {{ product.model }}</a></td>
                    <td>{{ product.avail_start_date.date().isoformat() }}</td>
                    <td>{{ product.avail_end_date.date().isoformat() }}</td>
                    <td>${{ '{:,.2f}'.format(product.price_per_day) }}</td>
                    <td><ul>
                            <li><a href="confirm-delist-product/{{ product.prod_id }}">Delist product</a></li>
                            <li><a href="edit-listing/{{ product.prod_id }}">Edit listing</a>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <br>

<h3>Items you have listed but are currently unavailable</h3>
    {% if not products_not_available %}
        <p>None</p>
    {% else %}
        <table border="1" cellpadding="5">
            <tr>
                <th>Category</th>
                <th>Brand and Model</th>
                <th>Price Per Day</th>
                <th>Actions Available</th>
            </tr>
            {% for product in products_not_available %}
                <tr>
                    <td>{{ product.category.cat_name }}</td>
                    <td><a href="/product-detail/{{ product.prod_id }}">{{ product.brand.brand_name }} {{ product.model }}</a></td>
                    <td>${{ '{:,.2f}'.format(product.price_per_day) }}</td>
                    <td><ul>
                            <li><a href="edit-listing/{{ product.prod_id }}">Relist/Edit listing</a></td>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <br>

<h3>Your Product Rental Histories</h3>
    {% if not products_with_histories %}
        <p>You do not yet have a history of renting out products.</p>
    {% else %}
        <table border="1" cellpadding="5">
            <tr>
                <th>Category</th>
                <th>Brand and Model</th>
                <th>Rental History</th>
            </tr>
                {% for product in products_with_histories %}
                <tr>
                    <td>{{ product.category.cat_name }}</td>
                    <td><a href="/product-detail/{{ product.prod_id }}">{{ product.brand.brand_name }} {{ product.model }}</a></td>
                    <td>
                            <table border="1" cellpadding="2">
                                <tr>
                                    <th>Rental Dates</th>
                                    <th>Total Cost</th>
                                    <th>email Renter</th>
                                    <th>See Ratings of Renter</th>
                                    <th>Rate Renter</th>
                                </tr>
                                {% for history in product.histories %}
                                    <tr>
                                        <td>{{ history.start_date.date().isoformat() }} to {{ history.end_date.date().isoformat() }}</td>
                                        <td>${{ '{:,.2f}'.format(history.total_cost) }}</td>
                                        <td><a href="mailto:{{ history.renter.email }}">email renter: {{ history.renter.email }}</a></td>
                                        <td> <a href="/show-renter-ratings/{{ history.renter_user_id }}">Ratings of {{ history.renter.email }} 
                                        </a></td>
                                        <td>
                                            {% if history.renter_rating_id %}
                                                <p>Renter rating already submitted.</p>
                                            {% else %}
                                                <div id="{{ history.renter_user_id }}{{ history.history_id }}-rate-renter-button"><a data-toggle="modal" button type="button" class="btn btn-primary btn-xsmall"  data-target="#rateRenterModal">Rate Renter</a></div>

                                                <div class="modal fade" id="rateRenterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                 <h4 class="modal-title">Submit a Rating</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                    <h3>Rating for {{ history.renter.email }}</h3>

                                                                    <form action="/handle-user-rating" id="renter_rating_form" method="POST">

                                                                        <h3>Star rating</h3>

                                                                            <p>How many stars would you rate your experience with this user?</p>

                                                                            <br>
                                                                            <select id="renter_number_stars" name="num_stars">
                                                                                {% for star_rating in star_rating_values %}
                                                                                    <option value="{{ star_rating }}">{{ star_ratings[star_rating] }}</option>
                                                                                {% endfor %}
                                                                          </select>

                                                                        <h3>Comments</h3>
                                                                            <p>Please provide your reasoning for your star feedback.</p>


                                                                            <textarea rows="4" cols="50" maxlength="128" id="renter_comments" name="comments"></textarea><br><br>

                                                                            <input type="hidden" id="renter_owner_bool" name="is_owner" value="0">
                                                                            <input type="hidden" id="renter_hist_num" name="hist_id" value="{{ history.history_id }}">
                                                                            <input type="hidden" id="renter_num" name="renter_user_id" value="{{ history.renter_user_id }}">

                                                                    <br><br><input type="submit" value="Submit Rating"><br><br>

                                                            </div>
                                                            <div class="modal-footer">
                                                            </div>
                                                        </div> 
                                                    </div> 
                                                </div>
                                            {% endif %}
                                        </td>
                                {% endfor %}
                            </table>
                {% endfor %}
        </table>
    {% endif %}
    <br>



<h3>Items You Have Rented</h3>
{% if not histories %}
    <p>You have no history of renting products.
{% else %}
    <table border="1" cellpadding="5">
            <tr>
                <th>Dates</th>
                <th>Product</th>
                <th>Category</th>
                <th>Total Cost</th>
                <th>Status</th>
                <th>Actions Available</th>
            </tr>
            {% for history in histories %}
                <tr>
                    <td>{{ history.start_date.date().isoformat() }} to {{ history.end_date.date().isoformat() }}</td>
                    <td><a href="/product-detail/{{ history.product.prod_id }}">{{ history.product.brand.brand_name }} {{ history.product.model }}</a></td>
                    <td>{{ history.product.category.cat_name }}
                    <td>${{ '{:,.2f}'.format(history.total_cost) }}</td>
                    <td>{% if (today > history.end_date) %}
                            Rental done
                        {% elif (today < history.start_date) %}
                            {{ (history.start_date - today).days }} days until rental
                        {% else %}
                            Rental ongoing
                        {% endif %}
                    </td>
                    <td> 
                        <ul>
                            <li><a href="mailto:{{ history.product.owner.email }}">Send owner an email</a></li>
                            <li> 
                                {% if history.owner_rating_id %}
                                    Owner rating already submitted.
                                {% else %}
                                <div id="{{ history.product.owner_user_id }}{{ history.history_id }}-rate-owner-button">
                                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#rateOwnerModal" href="/rate-user-modal/{{ history.product.owner_user_id }}-{{ history.history_id }}-1">Rate Owner</button>
                                </div>

                        <div class="modal fade" id="rateOwnerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                               
                                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                              </div>
                              <div class="modal-body">
                                
                              </div>
                              <div class="modal-footer">

                              </div>
                            </div>
                          </div>
                        </div>





                                  

                                
                                    <a href="/rate-user/{{ history.product.owner_user_id }}-{{ history.history_id }}-1-4">Rate owner here</a>           
                                {% endif %}
                            </li>
                        <li>
                            {% if not history.prod_rating_id %}
                                <a href="/rate-product/{{ history.prod_id }}-{{ history.history_id }}-4">Rate product here</a>
                            {% else %}
                                Product rating already submitted.
                            {% endif %}
                        </li>
                    </td>
                </tr>
            {% endfor %}
        </table><br><br>
{% endif %}
<br>

  <p>--------------------------------</p>
 <p><a href="/success">Homepage</a>     |     <a href="/account-info">Your Account</a>     |     <a href="/logout">Log out</a></p>

 

  <script>

    function submitRenterRating(evt) {
        evt.preventDefault();
        var history_id = $("#renter_hist_num").val();
        var renter_id = $("#renter_num").val();


        $.ajax({
            url: '/handle-user-rating',
            data: $('#renter_rating_form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
            }
            })

            $("#rateRenterModal").modal("hide");
            $("#" + renter_id + history_id + "-rate-renter-button").empty();
            $("#" + renter_id + history_id + "-rate-renter-button").html("<p>Rating submitted!</p>");
        }



    $("#renter_rating_form").submit(submitRenterRating);






 </script>

  
</body>
</html>