{% extends 'base.html' %}

{% block title %}Account Info{% endblock %}

{% block content %}
<h1>Your Account</h1>

<h3>Contact Info</h3>
    <p><b>Name: </b>{{ firstname }} {{ lastname }}</p>
    <p><b>Address: </b> {{ street }}, {{ city }}, {{ state }} {{ zipcode }}</p>
    <p><b>Phone: </b> {{ phone }}</p>
    <p><b>email: </b> {{ email }}</p>
    <p><b>Actions available: </b>deactivate, edit account (not yet implemented)</p>
<br>
------------------------------------------------------------
<br>
<h3>Items You Have Available for Rent</h3>
    {% if products_available %}
        <table border="1" cellpadding="5">
            <tr>
                <th>Category</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Available Start</th>
                <th>Available End</th>
                <th>Price</th>
                <th>Actions Available</th>
            </tr>
            {% for product in products_available %}
                <tr>
                    <td>{{ product.category.cat_name }}</td>
                    <td>{{ product.brand.brand_name }}</td>
                    <td>{{ product.model }}</td>
                    <td>{{ product.avail_start_date.date().isoformat() }}</td>
                    <td>{{ product.avail_end_date.date().isoformat() }}</td>
                    <td>{{ product.avail_start_date.date().isoformat() }}</td>
                    <td>{{ product.avail_end_date.date().isoformat() }}</td>
                    <td>${{ '{:,.2f}'.format(product.price_per_day) }}</td>
                    <td>not yet implemented (edit, delist)</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        You have no history of renting out products.<br><br>
{% endif %}
<br>
<h3>Items You Have Rented</h3>
{% if histories %}
    <table border="1" cellpadding="5">
            <tr>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Product</th>
                <th>Total Cost</th>
                <th>Status</th>
                <th>Actions Available</th>
            </tr>
            {% for history in histories %}
                <tr>
                    <td>{{ history.start_date.date().isoformat() }}</td>
                    <td>{{ history.end_date.date().isoformat() }}</td>
                    <td>{{ history.brand_name }} {{ history.model }}</td>
                    <td>${{ '{:,.2f}'.format(history.total_cost) }}</td>
                    <td>{% if (today > history.start_date) %}
                            Rental done
                        {% else %}
                            {{ (history.start_date - today).days }} days until rental
                            {% endif %}
                    </td>
                    <td>This will be links to owner email and option to rate experience</td>
                </tr>
            {% endfor %}
        </table><br><br>
    {% else %}
        You have no rental history.<br><br>
{% endif %}
<br>

{% endblock %}