<!doctype html>
<html>
<head>
  <title>Account Info</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

</head>

<body>
  <hr>

    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>

<h1>Your Account</h1>

<h3>Contact Info</h3>
    <p><b>Name: </b>{{ user.fname }} {{ user.lname }}</p>
    <p><b>Address: </b> {{ user.street }}, {{ user.city }}, {{ state }} {{ user.postalcode }}</p>
    <p><b>Phone: </b> {{ user.phone }}</p>
    <p><b>email: </b> {{ user.email }}</p>
    <p><b>Actions available: </b>
    <ul>
        <li>Edit account (not yet implemented)</li>
        <li><a href="/confirm-deactivate-account">Deactivate your account</a></li>
<br>
--------------------------------

<br>
<h3>Items You Have Available for Rent</h3>
    {% if products_available %}
        <table border="1" cellpadding="5">
            <tr>
                <th>Category</th>
                <th>Brand and Model</th>
                <th>Available Start</th>
                <th>Available End</th>
                <th>Price Per Day</th>
                <th>Rental History</th>
                <th>Actions Available</th>
            </tr>
            {% for product in products_available %}
                <tr>
                    <td>{{ product.category.cat_name }}</td>
                    <td><a href="/product-detail/{{ product.prod_id }}">{{ product.brand.brand_name }} {{ product.model }}</a></td>
                    <td>{{ product.avail_start_date.date().isoformat() }}</td>
                    <td>{{ product.avail_end_date.date().isoformat() }}</td>
                    <td>${{ '{:,.2f}'.format(product.price_per_day) }}</td> <td>
                        {% if not product.histories %}
                            This product has no rental history
                        {% else %}
                            <table border="1" cellpadding="2">
                                <tr>
                                    <th>Rental Dates</th>
                                    <th>Total Cost</th>
                                    <th>email Renter</th>
                                    <th>See Ratings of Renter</th>
                                    <th>Rate Renter</th>
                                </tr>
                                {% for history in product.histories %}
                                    <tr>
                                        <td>{{ history.start_date.date().isoformat() }} to {{ history.end_date.date().isoformat() }}</td>
                                        <td>${{ '{:,.2f}'.format(history.total_cost) }}</td>
                                        <td><a href="mailto:{{ history.renter.email }}">email renter: {{ history.renter.email }}</a></td>
                                        <td> <a href="/show-renter-ratings/{{ history.renter_user_id }}">Ratings of {{ history.renter.email }} 
                                        </a></td>
                                        <td>
                                            {% if not history.renter_rating_id %}
                                                <a data-toggle="modal" id="{{ history.renter_user_id }}-{{ history.history_id }}-rate-renter-button" button type="button" class="btn btn-primary btn-xsmall"  data-target="#rateUserModal">Rate Renter</a>

                                                <div class="modal fade" id="rateUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                 <h4 class="modal-title">Submit a Rating</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                    <h3>Rating for {{ history.renter.email }}</h3>

                                                                    <form action="/handle-user-rating" id="rating_form" method="POST">

                                                                        <h3>Star rating</h3>

                                                                            <p>How many stars would you rate your experience with this user?</p>

                                                                            <br>
                                                                            <select id="number_stars" name="num_stars">
                                                                                {% for star_rating in star_rating_values %}
                                                                                    <option value="{{ star_rating }}">{{ star_ratings[star_rating] }}</option>
                                                                                {% endfor %}
                                                                          </select>

                                                                        <h3>Comments</h3>
                                                                            <p>Please provide your reasoning for your star feedback.</p>


                                                                            <textarea rows="4" cols="50" maxlength="128" id="comments_text" name="comments"></textarea><br><br>

                                                                            <input type="hidden" id="owner_bool" name="is_owner" value="0">
                                                                             <input type="hidden" id="hist_num" name="hist_id" value="{{ history.history_id }}">

                                                                    <br><br><input type="submit" value="Submit Rating"><br><br>

                                                            </div>
                                                            <div class="modal-footer">
                                                            </div>
                                                        </div> 
                                                    </div> 
                                                </div>
                                                <a href="/rate-user/{{ history.renter_user_id }}-{{ history.history_id }}-0-4">Rate Renter</a>
                                            {% else %}
                                                You've already submitted a rating for this renter.
                                            {% endif %}
                                        </td>
                                {% endfor %}
                            </table>
                            {% endif %}
                        <td>
                        <ul>
                            <li><a href="confirm-delist-product/{{ product.prod_id }}">Delist product</a></li>
                            <li><a href="edit-listing/{{ product.prod_id }}">Edit listing</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        You have no items available for rent.<br><br>
{% endif %}
<br>

<h3>Items you have listed but are currently unavailable</h3>
    {% if products_not_available %}
        <table border="1" cellpadding="5">
            <tr>
                <th>Category</th>
                <th>Brand and Model</th>
                <th>Price Per Day</th>
                <th>Rental History</th>
                <th>Actions Available</th>
            </tr>
            {% for product in products_not_available %}
                <tr>
                    <td>{{ product.category.cat_name }}</td>
                    <td><a href="/product-detail/{{ product.prod_id }}">{{ product.brand.brand_name }} {{ product.model }}</a></td>
                    <td>${{ '{:,.2f}'.format(product.price_per_day) }}</td> <td>
                        {% if not product.histories %}
                            This product has no rental history
                        {% else %}
                            <table border="1" cellpadding="2">
                                <tr>
                                    <th>Rental Dates</th>
                                    <th>Total Cost</th>
                                    <th>email Renter</th>
                                    <th>See Ratings of Renter</th>
                                    <th>Rate Renter</th>
                                </tr>
                                {% for history in product.histories %}
                                    <tr>
                                        <td>{{ history.start_date.date().isoformat() }} to {{ history.end_date.date().isoformat() }}</td>
                                        <td>${{ '{:,.2f}'.format(history.total_cost) }}</td>
                                        <td><a href="mailto:{{ history.renter.email }}">email renter: {{ history.renter.email }}</a></td>
                                        <td> <a href="/show-renter-ratings/{{ history.renter_user_id }}">Ratings of {{ history.renter.email }} </a></td>
                                        <td>
                                            {% if not history.renter_rating_id %}
                                                <a href="/rate-user/{{ history.renter_user_id }}-{{ history.history_id }}-0-4">Rate Renter</a>
                                            {% else %}
                                                You've already submitted a rating for this renter.
                                            {% endif %}
                                        </td>
                                {% endfor %}
                            </table>
                            {% endif %}
                        <td>
                            <li><a href="edit-listing/{{ product.prod_id }}">Relist/Edit listing</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        You have no history of renting out products.<br><br>
{% endif %}
<br>
<h3>Items You Have Rented</h3>
{% if histories %}
    <table border="1" cellpadding="5">
            <tr>
                <th>Dates</th>
                <th>Product</th>
                <th>Category</th>
                <th>Total Cost</th>
                <th>Status</th>
                <th>Actions Available</th>
            </tr>
            {% for history in histories %}
                <tr>
                    <td>{{ history.start_date.date().isoformat() }} to {{ history.end_date.date().isoformat() }}</td>
                    <td><a href="/product-detail/{{ history.product.prod_id }}">{{ history.product.brand.brand_name }} {{ history.product.model }}</a></td>
                    <td>{{ history.product.category.cat_name }}
                    <td>${{ '{:,.2f}'.format(history.total_cost) }}</td>
                    <td>{% if (today > history.end_date) %}
                            Rental done
                        {% elif (today < history.start_date) %}
                            {{ (history.start_date - today).days }} days until rental
                        {% else %}
                            Rental ongoing
                        {% endif %}
                    </td>
                    <td> 
                        <ul>
                            <li><a href="mailto:{{ history.product.owner.email }}">Send owner an email</a></li>
                            <li> 
                                {% if not history.owner_rating_id %}
                                    <a href="/rate-user/{{ history.product.owner_user_id }}-{{ history.history_id }}-1-4">Rate owner here</a>
                                {% else %}
                                    Owner rating already submitted.
                                {% endif %}
                            </li>
                            <li>
                                {% if not history.prod_rating_id %}
                                    <a href="/rate-product/{{ history.prod_id }}-{{ history.history_id }}-4">Rate product here</a>
                                {% else %}
                                    Product rating already submitted.
                                {% endif %}
                            </li>
                    </td>
                </tr>
            {% endfor %}
        </table><br><br>
    {% else %}
        You have no rental history.<br><br>
{% endif %}
<br>

  <p>--------------------------------</p>
 <p><a href="/success">Homepage</a>     |     <a href="/account-info">Your Account</a>     |     <a href="/logout">Log out</a></p>

 <script src="http://code.jquery.com/jquery.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

  <script>
    function showRatingSuccessful(result) {
        alert(result);
    }

    function submitRating(evt) {
        evt.preventDefault();

        var formInputs = {
            "num_stars": $("#number_stars").val(),
            "comments": $("#comments_text").val(),
            "is_owner": $("#owner_bool").val(),
            "hist_id": $("#hist_num").VAL()
        };

        $.post("/handle-user-rating", formInputs, showRatingSuccessful);
        $.("#rateUserModal").modal("hide")
    }

    $.("#rating_form").on("submit", submitRating);

    var rat

 </script>

  
</body>
</html>