{% extends 'base.html' %}

{% block title %}List An Item{% endblock %}

{% block content %}

    <h2>What kind of item would you like to list?</h2>

    <p><a href="/list-tent">Tent</a></p>
    <p><a href="/list-sleepingbag">Sleeping Bag (not implemented)</a></p>
    <p><a href="/list-sleepingpad">Sleeping Pad (not implemented)</a></p>
    <p><a href="/list-pack">Pack (not implemented)</a></p>
    <p><a href="/list-stove">Stove (not implemented)</a></p>
    <p><a href="/list-waterfilter">Water Filter (not implemented)</a></p>
    <p><a href="/logout">Log out</a></p>

{% endblock %}