<!doctype html>
<html>
<head>
  <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
  <script src="http://code.jquery.com/jquery.js"></script>
</head>

<body>
  <hr>
    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>

      <form action="{{ submit_route }}" method="POST">

    <h3>Product Info</h3>
      Brand: 
        <select name="brand_id">
          {% for brand in brands %}
            <option value="{{ brand.brand_id }}">{{ brand.brand_name }}</option>
          {% endfor %}
          <option value="-1">Add new brand</option>
        </select><br> <br>

      Add new brand: (Show this only if adding new brand) 
        <input type="text" size="50" name="new_brand_name"><br><br>

      Model Name: <input type="text" size="50" name="modelname" placeholder =
                  "e.g. Passage 2"><br><br>
      Description: <textarea rows="4" cols="50" name="desc" maxlength="128" placeholder = 
                    "Tell others avout this item's awesome features."></textarea><br><br>
      Condition: <textarea rows="4" cols="50" name="cond" maxlength="128" placeholder =
                  "Give an honest description of how lovingly worn (or not worn) this item is."></textarea><br><br>

    <h3>Product Availability and Pricing</h3>
      Available Start Date: <input type="text" size="10" value={{ p_today }} name="avail_start">
        <br><br>
      Available End Date: <input type="text" size="10" value={{ p_month }} name="avail_end">
        <br><br>
      <br>
      Price per Day: $ <input type="text" size="4" maxlength="4" name="pricing" placeholder = "e.g., 5.00">
      <br><br>
      Image URL: <input type="text" size="50" name="image"><br><br>



  {% block content %}PUT CATEGORY SPECIFIC STUFF HERE{% endblock %}

    <input type="submit">

</form>

<p><a href="/success">Homepage</a></p>

</body>
</html>