{% extends 'rate-form-base.html' %}

{% block title %}Owner Rating Confirmation{% endblock %}

{% block page_heading %}Confirmation: Product Owner Rating for {{ session['owner_username_for_rating'] }} {% endblock %}

 {% block star_instructions %}{% endblock %}

{% block star_dropdown %} You gave this owner a star rating of: 
    <div name="number_stars" value="{{ num_stars }}">
        <i>{{ num_stars }}</i> out of 4
    </div>

{% endblock %}

{% block comments_instructions %}
    <p>Here is how you described your experience:</p>

{% endblock %}

{% block comments_text %}
<div name="comments_text" value = {{ comments_text }}>

<p><i>{{ comments_text }}</i></p>
</div>
<br>
<p>Submit below or <a href="/owner-rate-edit/">click here to edit rating</a></p>

 {% endblock %}








