<!doctype html>
<html>
<head>
  <title>Detail: {{ product.brand.brand_name }} {{ product.model }}</title>
  <script src="http://code.jquery.com/jquery.js"></script>
</head>

<body>
  <hr>
    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>

    <h2> Product Detail: {{ product.brand.brand_name }} {{ product.model }} </h2>
    Category: {{ product.category.cat_name }}
    <br> Status: {% if product.available %} Available {% else %} Unavailable {% endif %}
    <br>
    <br>General Product Info:
        <ul>
            <li>Product location: {{ product.owner.city }}, {{ product.owner.region.full }}</li>
            <li>Available start date: {{ product.avail_start_date.date().isoformat() }}</li>
            <li>Available end date: {{ product.avail_end_date.date().isoformat() }}</li>
            <li>Price per day: ${{ '{:,.2f}'.format(product.price_per_day) }}</li>
            <li>Description: {{ product.description }}</li>
            <li>Condition: {{ product.condition }}</li>
            <li><a href="/show-owner-ratings/{{ product.owner.user_id }}">See Product Owner Ratings</a>
            <li><a href="/show-product-ratings/{{ product.prod_id }}">See Product Ratings</a>
        </ul>
    <br> {{ product.category.cat_name }}-Specific Info:

        {% block content %}

        CATEOGRY SPECIFIC STUFF HERE

        {% endblock %}


        {% if session.get('search_start_date') %}
            <p>Your rental period info:</p>
            <ul>
                <li>Rental start date: {{ session['search_start_date'].date().isoformat() }}</li>
                <li>Rental end date: {{ session['search_end_date'].date().isoformat() }}</li>
            <li>Number of days: {{ session['num_days'] }}
            <li>Total cost: ${{ '{:,.2f}'.format(session['num_days'] * product.price_per_day) }}</li>
            </ul>

            {% if product.available %}

                <form action="/rent-confirm/{{ product.prod_id }}" method="POST">
                <input type="submit" value="Rent This">
                </form>
            {% else %}
                <p>This item is not currently available for rent.</p>
            {% endif %}

             <p>Go back to your <a href="/searchresults?search_area={{ session['search_area'] }}&search_miles={{ session['search_radius'] }}&search_start_date={{ session['search_start_date'].date().isoformat() }}&search_end_date={{ session['search_end_date'].date().isoformat() }}">search results</a></p>
        {% endif %}


  
  <p>--------------------------------</p>
 <p><a href="/success">Homepage</a>     |     <a href="/account-info">Your Account</a>     |     <a href="/logout">Log out</a></p>

</body>
</html>