{% extends 'rate-form-base.html' %}

{% block title %}Rate Owner Form{% endblock %}

{% block page_heading %} Rating for {{ session['username_for_rating'] }} {% endblock %}

 {% block star_instructions %}

     How many stars would you rate your experience with this person?

{% endblock %}

{% block star_dropdown %}
    <select name="stars">
        {% for star_rating in star_ratings %}
            {% if star_rating == default_star_rating %}
                <option value="{{ star_rating }}" selected>{{ star_ratings[star_rating] }}</option>
            {% else %}
                <option value="{{ star_rating }}">{{ star_ratings[star_rating] }}</option>
            {% endif %}
        {% endfor %}
  </select>
{% endblock %}

{% block comments_instructions %}
    Please provide your reasoning for your star feedback.
{% endblock %}

{% block comments_text %}

 <textarea rows="4" cols="50" maxlength="128" name="comments">{{ default_comments_text }}</textarea><br><br>

 <input type="hidden" name="is_owner" value="{{ is_owner }}">

 {% endblock %}
