<!doctype html>
<html>
<head>
  <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
  <script src="http://code.jquery.com/jquery.js"></script>
</head>

<body>
  <hr>

    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>


  <h3>{% block page_heading %}PUT PAGE HEADING HERE{% endblock %}</h3>


   <form action="{{ submit_route }}" id="rating_form" method="POST">

    <h3>Star rating</h3>
      
      <p> 
        {% block star_instructions %}

          STAR RATING INSTRUCTIONS HERE
        
        {% endblock %} 
      </p><br>

        {% block star_dropdown %}
        
          STAR RATING DROP DOWN HERE
        
        {% endblock %}
      
      <br><br>

      <h3>Comments</h3>
      <p>
        {% block comments_instructions %}

          COMMENT INSTRUCTIONS HERE

        {% endblock %}
      </p><br>

       {% block comments_text %}
          COMMENT TEXT AREA HERE
        {% endblock %}

      <br><br><input type="submit" value="Submit Rating"><br><br>

  
  <p>--------------------------------</p>
 <p><a href="/success">Homepage</a>     |     <a href="/account-info">Your Account</a>     |     <a href="/logout">Log out</a></p>

<!--JAVASCRIPT-->
 <script src="https://code.jquery.com/jquery.js"></script>




</body>



</html>