<!doctype html>
<html>
<head>
  <title>Rate User</title>

    </head>

    <body>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             <h4 class="modal-title">Submit a Rating</h4>
        </div>
        <div class="modal-body">
            <h3>Rating for {{ user.email }}</h3>

            <form action="{{ submit_route }}" id="owner_rating_form" method="POST">

             <h3>Star rating</h3>

                 <p>How many stars would you rate your experience with this user?</p>

            <br>
                <select id="number_stars" name="num_stars">
                    {% for star_rating in star_ratings %}
                        <option value="{{ star_rating }}">{{ star_ratings[star_rating] }}</option>
                    {% endfor %}
              </select>

               <h3>Comments</h3>
                  <p>Please provide your reasoning for your star feedback.</p>


                 <textarea rows="4" cols="50" maxlength="128" id="comments_text" name="comments"></textarea><br><br>

                 <input type="hidden" id="owner_owner_bool" name="is_owner" value="1">
                 <input type="hidden" id="owner_hist_num" name="hist_id" value="{{ hist_num  }}">
                 <input type="hidden" id="owner_num" name="user_id" value="{{ user.user_id }}">

            <br><br><input type="submit" value="Submit Rating"><br><br>


        </div>
        <div class="modal-footer">
        </div>


  <p>--------------------------------</p>
 <p><a href="/success">Homepage</a>     |     <a href="/account-info">Your Account</a>     |     <a href="/logout">Log out</a></p>
<script>
    function submitOwnerRating(evt){
        console.log("starting submitOwner Rating");
        evt.preventDefault();

        var owner_history_id = $("#owner_hist_num").val();
        var owner_id = $("#owner_num").val();

        $.ajax({
            url: '/handle-user-rating',
            data: $('#owner_rating_form').serialize(),
            type: 'POST',
            success: function(response) {
                console.log(response);
            }
            })

            $("#rateOwnerModal").modal("hide");
            $("#" + owner_id + owner_history_id + "-rate-owner-button").empty();
            $("#" + owner_id + owner_history_id + "-rate-owner-button").html("<p>Rating submitted!</p>");

    }
    $("#owner_rating_form").submit(submitOwnerRating);
</script>


</body>
</html>