<!doctype html>
<html>
<head>
  <title>{% block title %}TITLE GOES HERE{% endblock %}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

</head>

<body>
  <hr>

    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>


  <h3>{% block page_heading %}PUT PAGE HEADING HERE{% endblock %}</h3>


   <form action="{{ submit_route }}" id="rating_form" method="POST">

    <h3>Star rating</h3>
      
      <p> 
        {% block star_instructions %}

          STAR RATING INSTRUCTIONS HERE
        
        {% endblock %} 
      </p><br>

        {% block star_dropdown %}
        
          STAR RATING DROP DOWN HERE
        
        {% endblock %}
      
      <br><br>

      <h3>Comments</h3>
      <p>
        {% block comments_instructions %}

          COMMENT INSTRUCTIONS HERE

        {% endblock %}
      </p><br>

       {% block comments_text %}
          COMMENT TEXT AREA HERE
        {% endblock %}

      <br><br><input type="submit" value="Submit Rating"><br><br>

  
  <p>--------------------------------</p>
 <p><a href="/success">Homepage</a>     |     <a href="/account-info">Your Account</a>     |     <a href="/logout">Log out</a></p>

 <script src="http://code.jquery.com/jquery.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>





</body>



</html>