{% extends 'rate-form-base.html' %}

{% block title %}Rate Renter Form{% endblock %}

{% block page_heading %} Rating for {{ session['renter_username_for_rating'] }} {% endblock %}

 {% block star_instructions %}

     How many stars would you rate your experience with this renter?

{% endblock %}

{% block star_dropdown %}
    <select name="stars">
        <option value="4">4: Awesome! Would rent to again.</option>
        <option value="3">3: As expected. Would rent to again.</option>
        <option value="2">2: Not as good as expected, but might rent to again.</option>
        <option value="1">1: Awful. Would not rent to this person again.</option>
  </select>
{% endblock %}

{% block comments_instructions %}
    Please describe your experience with this renter.
{% endblock %}

{% block comments_text %}

 <textarea rows="4" cols="50" name="comments"></textarea><br><br>

 {% endblock %}
