<!doctype html>
<html>
<head>
  <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
  <script src="http://code.jquery.com/jquery.js"></script>
</head>

<body>
  <hr>

    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>


  <h3>{% block content %} put your content here {% endblock %}</h3>


   <form action="{{ submit_route }}" method="POST">

    <h3>Star rating</h3>
      <p>
        {% block star_instructions %}STAR RATING INSTRUCTIONS HERE{% endblock %}
        (Total out of four.)</p>
      <br>
    <select name="stars">
        <option value="1">1: Terrible</option>
        <option value="2">2: Less good than okay, not terrible</option>
        <option value="3">3: As expected</option>
        <option value="4">4: Better than expected</option>
    </select><br>
      <br>

      <h3>Comments</h3>
      <p>{% block comments_instructions %}COMMENT INSTRUCTIONS HERE{% endblock %}
      Thank you for doing this! This info helps future renters!</p><br>
      <textarea rows="4" cols="50" name="comments"></textarea><br><br>

      <input type="submit" value="Submit Rating">


  
  <p>--------------------------------</p>
 <p><a href="/success">Homepage</a>     |     <a href="/account-info">Your Account</a>     |     <a href="/logout">Log out</a></p>

</body>
</html>