{% extends 'rate-form-base.html' %}

{% block title %}Product Rating Confirmation{% endblock %}

{% block page_heading %}Confirmation: Product Rating for {{ session['prod_name_for_rating'] }} {% endblock %}

 {% block star_instructions %}{% endblock %}

{% block star_dropdown %} You gave this product a star rating of: 
    <input type="hidden" name="number_stars" value="{{ num_stars }}">
        <i>{{ num_stars }}</i> out of 4

{% endblock %}

{% block comments_instructions %}
    <p>Here is how you described your experience:</p>

{% endblock %}

{% block comments_text %}
<input type="hidden" name="comments_text" value = "{{ comments_text }}">

<p><i>{{ comments_text }}</i></p>

<br>
<p>Submit below or <a href="/rate-product-edit/">click here to redo your rating.</a></p>

 {% endblock %}








