{% extends 'base.html' %}

{% block title %}Rental Confirmation{% endblock %}

{% block content %}
    <h1> Rental confirmation</h1>
    <h2>When you click submit, you are going to rent this item for reals! Don't be a dick and flake!</h2>
    <p><b>Rental Detail:</b></p>
    <ul>
        <li>Product: {{ product.brand.brand_name }} {{ product.model }}</li>
        <li> Category: {{ product.category.cat_name }} </li> 
        <li>Owner location: {{ product.owner.city }}, {{ product.owner.region.full }}</li>
        <li>Rental start date: {{ rental_start_date.date().isoformat() }}</li>
        <li>Rental end date: {{ rental_end_date.date().isoformat() }}</li>
        <li>Price per day: ${{ '{:,.2f}'.format(product.price_per_day) }}</li>
        <li><b>NUMBER OF DAYS:</b> {{ num_days }}
        <li><b>TOTAL COST:</b> ${{ '{:,.2f}'.format(num_days * product.price_per_day) }}</li>
    </ul>

    <p><b>You are about to rent this item for {{ num_days }} days with a total cost of ${{ '{:,.2f}'.format(num_days * product.price_per_day) }}. Are you sure this is what you want to do?<b></p>
    <form action="/rent/{{ product.prod_id }}" method="POST">
        <input type="submit" value="Fo shizzle."><br><br>

    <a href="/success">Oops I messed up. Go back to homepage to search again until I figure out how to redirect you to your original search results.</a> 


{% endblock %}