{% extends 'base.html' %}

{% block title %}Rental Confirmation{% endblock %}

{% block content %}
    <h1> Rental confirmation</h1>
    <h2>When you click submit, you are committing to pay for this rental! Don't be a dick and flake!</h2>
    <p><b>Rental Detail:</b></p>
    <ul>
        <li>Product: {{ product.brand.brand_name }} {{ product.model }}</li>
        <li> Category: {{ product.category.cat_name }} </li> 
        <li>Owner location: {{ product.owner.city }}, {{ product.owner.region.full }}</li>
        <li>Rental start date: {{ start_date_string }}</li>
        <li>Rental end date: {{ end_date_string }}</li>
        <li>Price per day: ${{ '{:,.2f}'.format(product.price_per_day) }}</li>
        <br>
    </ul>
    <p><b>Number of Days and Cost</b></p>
    <ul>
        <li>NUMBER OF DAYS: {{ session['num_days'] }}
        <li>TOTAL COST: ${{ '{:,.2f}'.format(session['num_days'] * product.price_per_day) }}</li>
    </ul>

    <p>You are about to rent this item for {{ session['num_days'] }} days with a total cost of ${{ '{:,.2f}'.format(session['num_days'] * product.price_per_day) }}.<br><br>
    <b>Are you sure this is what you want to do?</b></p>
    <form action="/handle-rental/{{ product.prod_id }}" method="POST">
        <input type="submit" value="Fo shizzle."><br><br>

 <p>Nope. Go back to my <a href="/searchresults?search_area={{ session['search_area'] }}&search_miles={{ session['search_radius'] }}&search_start_date={{ start_date_string }}&search_end_date={{ end_date_string }}">search results</a></p>


{% endblock %}