{% extends 'base.html' %}

{% block title %}Rental Confirmation{% endblock %}

{% block content %}
    <h1> Rental confirmation</h1>
    <h2>When you click submit, you are going to rent this item for reals! Don't be a dick!</h2>
    <p><b>Rental Detail:</b></p>
    <ul>
        <li>Product: {{ product.brand.brand_name }} {{ product.model }}</li>
        <li> Product category: {{ product.category.cat_name }} </li> 
        <li>Owner location: {{ product.owner.city }}, {{ product.owner.region.full }}</li>
        <li>Rental start date: {{ rental_start_date }}</li>
        <li>Rental end date: {{ rental_end_date }}</li>
        <li><b>Number of days:</b> {{ num_days }}
        <li>Price per day: ${{ '{:,.2f}'.format(product.price_per_day) }}</li>
        <li><b>TOTAL COST:</b> ${{ '{:,.2f}'.format(num_days * product.price_per_day) }}</li>
    </ul>
    <form action="/rent/{{ product.prod_id }}" method="POST">
        <input type="submit" value="Fo shizzle. I'm renting this."><br><br>

    <a href="/success">Oops I messed up. Due to lack of functionality I now have to go back to the homepage.</a> 


{% endblock %}