{% extends 'base.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}
    <h1>Search Results</h1>
    <p>Location: {{ location }}</p>
    <p>Search radius: {{ miles }} miles</p>
    <p>Dates: {{ session['search_start_date'].date().isoformat() }} to {{ session['search_end_date'].date().isoformat() }} </p>
    <p>----------------------------------------</p>

    <form action="/search-filter">

    <br>Filter Results:
        Category: 
        <select name="category_id">     
            <option value="-1">Any</option>
          {% for category in product_categories %}
            <option value="{{ category.cat_id }}">{{ category.cat_name }}</option>
          {% endfor %}
        </select>

        Brand: 
        <select name="brand_id">
            <option value="-1">Any</option>
          {% for brand in product_brands %}
            <option value="{{ brand.brand_id }}">{{ brand.brand_name }}</option>
          {% endfor %}
        </select>

    <input type="submit" value="Filter Results">

    {% for category in sorted_categories %}
    <h3>{{ category }}</h3>
        {% if products[category] %}
            <table border="1" cellpadding="5">
                <tr>
                    <th>Brand and Model</th>
                    <th>Price Per Day</th>
                    <th>Cost for {{ session['num_days'] }} days</th>
                    <th>product location</th>
                </tr>
                {% for product in products[category] %}
                    <tr>
                        <td><a href="/product-detail/{{ product.prod_id }}">
                             {{ product.brand.brand_name }} {{ product.model }} </td>
                        <td>${{ '{:,.2f}'.format(product.price_per_day) }}</td>
                        <td>${{ '{:,.2f}'.format(session['num_days'] * product.price_per_day) }}</td>
                        <td>{{ product.owner.city }}</td>
                        </tr>
                {% endfor %}
            </table><br>
        {% else %}
            <p>Sorry, there are no {{ category }} are available in your search area during your search dates.</p>
            <br><br><br>
        {% endif  %}
    {% endfor %}


{% endblock %}