{% extends 'base.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}
<h1>Search Results</h1>
    <p>Location: {{ location }}</p>
    <p>Dates: {{ start_date.date().isoformat() }} to {{ end_date.date().isoformat() }} </p>

<h3>Test: Users in Area</h3>
    <table>
        <tr>
            <th>user_id</th>
            <th>fname</th>
            <th>lname</th>
            <th>zip code</th>
            <th>city</th>
            <th>email</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.fname }}</td>
                <td>{{ user.lname }}</td>
                <td>{{ user.postalcode }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.email }}}}</td>
        {% endfor %}
    </table>
<br>


{% endblock %}