<!doctype html>
<html>
<head>
  <title>{% block title %}TITLE GOES HERE{% endblock %}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link href="/static/project.css" rel="stylesheet">
  
</head>

<body>
  <hr>

    <ul>
      {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>

  {% block content %} put your content here {% endblock %}
  
    <script src="http://code.jquery.com/jquery.js"></script>
</body>
</html>